@tailwind base;
@tailwind components;
@tailwind utilities;

/* fonts */
/* @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@100;200;300;400;500;600;700;800;900&display=swap'); */



@layer base {
  html, body {
    /* @apply font-[Helvetica Now Display]; */
    overflow-x: hidden;
    
    /* width: 100% */
    background: #00022B;
  }
  li {
    @apply px-4;
    @apply cursor-pointer;
  }
}



.portfolio-div {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: 50px;
  height: 240px;
  /* max-width: 500px; */  
}

.video {
  width: 469px;
  height: 208px;
}

@media screen and (max-width: 280px) {
  .video {
    width: 248px;
    height: 196px;
  }
}
  
/* 
@media only screen and (max-width: 414px) {
  .portfolio-div {
    height: 240px;
  }
}
@media only screen and (max-width: 375px) {
  .portfolio-div {
    height: 280px;
  }
}

@media only screen and (max-width: 280px) {
  .portfolio-div {
    height: 160px;
  }
} */

.portfolio-div:hover {
  background-image: linear-gradient(to right, rgba(112, 157, 255, 0.8), hsla(242, 74%, 61%, 0.8)) !important;
}
